.chartStuff {
  height: 400px;
  width: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.searchStuff {
  height: auto;
  width: 100%;

  display: flex;
  justify-content: space-between;
}
